

	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="/assets/dd177d8e/jquery.js"></script>
<script type="text/javascript" src="/themes/default/js/login_nav.js"></script>
<title>多彩饰家商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="content-language" content="zh"/>
    <meta http-equiv="Cache-Control" content="max-age=7200"/>
    <meta content="chrome=1" http-equiv="X-UA-Compatible"/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/bootstrap.css'/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/celiang.css'/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/common.css'/>
    <link type='text/css' rel='stylesheet' href='/css/common.css'/>
    <link type='text/css' rel='stylesheet' href='/css/form.css'/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/product.css'/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/member.css'/>
    <link type='text/css' rel='stylesheet' href='/themes/default/css/post.css'/>
        <script type="text/javascript" src="/themes/default/js/bootstrap.js"></script>
    <script type="text/javascript" src="/themes/default/js/common.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/themes/default/js/passwordCheck.js"></script>
    <script type="text/javascript" src="/js/holder.js"></script>
<style type="text/css">
body,td,th {
	font-size: 18px;
}
</style>
</head>
<body>
<div class="top">
    <div class="container">
<!--        -->	    
<div class="col-lg-6">
<!--	<div class="img1"></div>-->
<!--把收藏功能去掉 -->  <b></b><div class="img2"></div><label for="">北京</label><a href="/site/ChangeCity"> [更换]</a><b></b><a href="http://www.zgdcsj.com/">官网</a></div>

<div class="col-lg-6"  >
    <ul class="top_right_nav" >
                    <li><a href="/user/login">登录</a></li>
	        <s></s>
            <li><a href="/user/registration">注册</a></li>
	        <s></s>
	        <li><a href="/member/orderlist/admin">我的订单</a></li>
	        <s></s>
	        <li><a href="/member/measureOrderlist/admin">我的测量单</a></li>
            </ul>
</div>


    </div>
</div>
<div class="clear"></div>
<div class="head">
	<div style="margin:20px 0"></div>
    <div class="logo">
        <a href="http://www.duocai.cn">
            <img src="/images/logo.png" alt="" />        </a></div>
    <form class="search" action="/catalog/index" method="get">

    <div class="search_form">
	    <input id="key" name="key" type="text"  class="input01 txtSearch" maxlength="20" placeholder="输入你要的服务商品...">
        <button></button>
    </div>
    <div class="search_hot">
        热门搜索：
        <a href="/catalog/index?key=%E8%89%BA%E6%9C%AF%E6%B6%82%E6%96%99">艺术涂料</a><a href="/catalog/index?key=%E8%89%BA%E6%9C%AF%E5%A3%81%E7%BA%B8">艺术壁纸</a><a href="/catalog/index?key=%E7%BD%97%E9%A9%AC%E7%AA%97%E5%B8%98">罗马窗帘</a><a href="/catalog/index?key=%E5%9C%B0%E6%9D%BF">地板</a><a href="/catalog/index?key=%E7%BA%B1%E7%AA%97">纱窗</a><a href="/catalog/index?key=%E5%A3%81%E7%94%BB">壁画</a>    </div>
    </form>    <a href="/cart/index">
        <div class="shopping_car">
	        <span class="cor_red bold">0</span>
	        购物车
        </div>
    </a>
	<!--<a href="">
		<div class="shopping_check">
			申请预约测量
		</div>
	</a>-->
	<div class="telnum" >
	<a class="telphone">
		<img src="/images/telnum.png" alt="" />	</a></div>

	<div class="twodimensioncode" >
	<a>
		<img src="/images/twodimensioncode.png" alt="" />	</a></div>

</div>
<div class="nav">
    <ul class="nav_list" style="padding-left: 0px;" id="yw0">
<li class="menu_0"><a style="background:url(/upload/menu/menu1.png) no-repeat; background-position:center 25%" href="/index.php">首页</a></li>
<li class="menu_1"><a style="background:url(/upload/menu/menu2.png) no-repeat; background-position:center 25%" href="/item/105">墙面换新</a></li>
<li class="menu_2"><a style="background:url(/upload/menu/menu3.png) no-repeat; background-position:center 25%" href="/catalog/index?cat=131">清洗服务</a></li>
<li class="menu_3"><a style="background:url(/upload/menu/menu4.png) no-repeat; background-position:center 25%" href="/site/serverProcess">服务流程</a></li>
<li class="menu_4"><a style="background:url(/upload/menu/menu5.png) no-repeat; background-position:center 25%" href="/site/serverAdvantage">服务优势</a></li>
<li class="menu_5"><a style="background:url(/upload/menu/menu6.png) no-repeat; background-position:center 25%" href="/storeSearch/index">服务店查询</a></li>
</ul></div>

<div class="clear"></div>
<div class="container">
    <div class="form">
	<form id="getCity" action="WTopNav.php" method="POST">	<!--城市所在地址-->
<!--	<li class="area-info">-->
<!--		--><!--		--><!--	</li>-->
	<div class="warp_contant">

		<div class="area-info">
			<label class="area-label" for="DcStore_city">开通城市:</label>
	    <div class="area_li">
			  <div class="area-link"> 
		  <table width="789" height="571" border="0">
		    <tr>
		      <td align="left" valign="middle"><strong>华北</strong></td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      </tr>
		    <tr>
		      <td width="116" align="left" valign="middle">&nbsp;</td>
		      <td width="116" align="left" valign="middle">北京</td>
		      <td width="543" align="left" valign="middle">北京市丰台区马家堡西路26号院3号楼底商8号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">北京市海淀区厂洼街5号院底商3号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">沈阳</td>
		      <td align="left" valign="middle">沈阳市铁西区兴顺街5号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">邢台</td>
		      <td align="left" valign="middle">邢台市桥西区中华大街与滨江路交叉口红星美凯龙负一层9188号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">邯郸</td>
		      <td align="left" valign="middle">邯郸市西环康业建材城</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">涉县</td>
		      <td align="left" valign="middle">涉县宏信建材城4楼D12</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">忻州</td>
		      <td align="left" valign="middle">忻州市云中路新欣三利建材市场西区</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle"><strong>华中</strong></td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">抚州</td>
		      <td align="left" valign="middle">抚州市凤凰城建材城B1-8号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">周口</td>
		      <td align="left" valign="middle">周口市项城市欧蓓莎商城一期116号</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">长沙</td>
		      <td align="left" valign="middle">长沙市开福区月湖大市场C区2栋</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle"><strong>西南</strong></td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      </tr>
		    <tr>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">贵阳</td>
		      <td align="left" valign="middle">贵阳市南明区宝山南路462号</td>
		      </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      <td align="left" valign="middle">&nbsp;</td>
		      </tr>
		    </table>
		  <p>&nbsp;</p>
		    </div>
			</div>
		  <div class="area_li"><div class="area-link"> </div><div class="area-link"></div></div>		</div>
		</div>

	</form>	</form></div></div>

<div class="clear"></div>
<div class="footer">
	<div class="foot_div">
    <div class="foot_c">
        <div class="foot_new">
            <ul>
                <li><span class="font14 bold">新手指南</span></li>
                <li><a href="/page/notice">顾客必读</a></li>
                <li><a href="/page/orderstatus">订单的几种状态</a></li>
            </ul>
        </div>
        <div class="foot_pay">
            <ul>
                <li><span class="font14 bold">购物指南</span></li>
                <li><a href="/page/service">售后服务</a></li>
                <li><a href="/page/terms">网站使用条款</a></li>
                <li><a href="/page/disclaimer">免责条款</a></li>
                <li><a href="/page/process">简单的购物流程</a></li>
            </ul>
        </div>
        <div class="foot_set">
            <ul>
                <li><span class="font14 bold">支付/配送方式</span></li>
                <li><a href="/page/payment">支付方式</a></li>
                <li><a href="/page/onlinepayment">网上支付小贴士</a></li>
                <li><a href="/page/shippinginfo">关于如何验货</a></li>
            </ul>
        </div>
        <div class="foot_back">
            <ul>
                <li><span class="font14 bold">售后服务</span></li>
                <li><a href="/page/aftermarket">售后政策</a></li>
                <li><a href="/page/priceprotection">价格保护</a></li>
                <li><a href="/page/refund">退款说明</a></li>
                <li><a href="/page/cancelorder">取消订单</a></li>
            </ul>
        </div>
        <div class="foot_help">
            <ul>
                <li><span class="font14 bold">帮助中心</span></li>
                <li><a href="/page/helpcenter">帮助中心</a></li>
                <li><a href="/page/contact">在线客服</a></li>
                <li><a href="/page/qualityAssurance">品质保证</a></li>
                <li><a href="/page/about">关于我们</a></li>
            </ul>
        </div>
<!--        <div class="foot_call">-->
<!--            <p class="font14 bold">咨询电话</p>-->
<!---->
<!--            <p class="font14 bold cor_r">13967414054</p>-->
<!--        </div>-->
    </div>
	</div>
    <div class="foot_u">
        <p class="foot_link">
            <a href="/page/about">关于我们</a>|
            <a href="/page/contact">联系我们</a>|
            <a href="/page/">人才招聘</a>|
            <a href="/page/join">商家入驻</a>|
            <a href="/page/">广告服务</a>|
            <a href="/page/">手机商城</a>|
            <a href="/page/">友情链接</a>|
            <a href="/page/partner">销售联盟</a>|
            <a href="/page/">资源交流</a>        </p>

        <p>Copyright@2013 - 2015 多彩饰家商城 All Rights Reserved. <a href="">站长统计</a></p>

        <p>Powered by <a href="http://www.hejia.cn">和佳软件</a></p>
    </div>
</div>

</body>
</html>
